name: Send Failure Emails
on:
  schedule:
    - cron: '0 4 * * 1-5'
  workflow_dispatch:
jobs:
  email:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install Python dependencies
        run: |
          pip install -r .github/requirements.txt
      - name: Send emails
        run: >
          python .github/scripts/email_failures.py
          --api ${{ secrets.API_GITHUB_TOKEN }}
          --user ${{ secrets.SMTP_USER }}
          --password ${{ secrets.SMTP_PASSWORD }}
